/* MY CODE  */
@font-face {
  font-family: 'fav';
  src: url('../fonts/fav.woff') format('woff'),
    url('../fonts/fav.woff2') format('woff2');
}

@font-face {
  font-family: 'Solo1';
  src: url('../fonts/solo.woff') format('woff');
  /* src: url('../fonts/Quartier-Solo.woff2') format('woff2');
  src: url('../fonts/Quartier-Solo.ttf') format('ttf'); */
}

@font-face {
  font-family: 'Solo2';
  src: url('../fonts/soloi.woff') format('woff');
  /* src: url('../fonts/Quartier-SoloItalic.woff2') format('woff2');
  src: url('../fonts/Quartier-SoloItalic.ttf') format('ttf'); */
}

@font-face {
  font-family: 'Edit';
  src: url('../fonts/ENew.woff') format('woff');
}

:root {
  --font-size-xl: 110px;
  --font-size-l: 24px;
  --font-size-xm: 20px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  --font-size-xs: 8px;
  --line-height: 1.15em;
  --charcoal-dark: rgba(51, 51, 51, 1);
  --charcoal-semi: rgba(51, 51, 51, 0.6);
  --charcoal-light: rgba(51, 51, 51, 0.2);
  --yellow-full: rgba(255, 235, 105, 1);
  --green-full: rgba(65, 225, 115, 1);
  --purple-full: rgba(155, 0, 255, 1);
}

* {
  padding: 0;
  margin: 0;
}

body {
  --contentWidth: 94%;
  max-width: var(--contentWidth);
  font-family: Solo1, sans-serif;
  overflow-x: hidden;
  margin-left: 3%;
  margin-right: 0%;
  background-color: rgba(31, 31, 31, 0.1);
  overflow-x: hidden;
}

.image1 {
  height: auto;
  width: 65%;
  object-fit: contain;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 3%;
}

img {
  height: auto;
  width: 100%;
  object-fit: scale-down;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 3%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-family: 'Solo1', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 50px rgba(155, 0, 255, 1);
  font-size: 16vw;
  line-height: 15vw;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: -1.1vw;
}

h2 {
  font-family: 'Solo2', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 30px rgba(155, 0, 255, 1);
  font-size: 6vw;
  line-height: 7vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

h3 {
  font-family: 'Solo1', sans-serif;
  font-size: 12vw;
  line-height: 10vw;
  text-align: center;
}

h4 {
  font-family: 'Solo1', sans-serif;
  color: rgba(155, 0, 255, 1);
  font-size: 4.5vw;
  font-style: italic;
  text-align: center;
}

h5 {
  font-family: 'Solo1', sans-serif;
  color: rgba(51, 51, 51, 0.6);
  font-size: 6vw;
  line-height: 7vw;
  font-style: italic;
  text-align: center;
}

h6 {
  font-family: 'Solo1', sans-serif;
  color: rgba(155, 0, 255, 1);
  font-size: 6vw;
  font-style: italic;
  margin-left: 1em;
}

p {
  font-family: 'Solo1', sans-serif;
  font-size: 4.5vw;
}

a {
  color: rgba(155, 0, 255, 1);
  text-decoration: underline rgba(155, 0, 255, 1);
}

a:hover {
  text-decoration: underline grey;
}

sup {
  vertical-align: super;
  font-size: 1vw;
  color: rgba(155, 0, 255, 1);
}

figure {
  display: inline-block;
  padding: 5px;
}

figcaption {
  font-family: 'Solo2', sans-serif;
  font-size: 3vw;
  margin: -24px 0 0 24px;
}

#one {
  font-family: 'Solo2', sans-serif;
  font-size: 3vw;
  margin: -1em 0 0 24px;
  color: rgba(51, 51, 51, 0.6);
}

#two {
  text-align: left;
}

#three {
  font-size: 5vw;
  line-height: 5vw;
  text-align: center;
}

#four {
  font-size: 5vw;
  line-height: 5vw;
}

#five {
  color: white;
  text-decoration: none;
  -webkit-animation: grow 2s ease-out;
}

#six {
  font-size: 16vw;
  /* animation: glitch 5s 5s infinite; */
  /* -webkit-animation: grow 2s ease-out;
  -webkit-animation: rotation 5s; */
  -webkit-animation: growrotate 2s ease-out;
}

#seven {
  color: white;
  text-decoration: none;
  -webkit-animation: grow 2s ease-out;
}

#eight {
  color: white;
  text-decoration: none;
  text-align: right;
  margin-right: 1vw;
}

#nine {
  font-size: 16.6vw;
  letter-spacing: -1.5vw;
}

#ten {
  color: black;
}

/* menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 8vw;
  line-height: 9vw;
  color: rgba(155, 0, 255, 1);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  display: block;
  text-align: right;
  top: 0;
  font-size: 20vw;
  line-height: 8vw;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* end menu */
.imagecaption {}

.achieve {
  font-family: 'Solo1', sans-serif;
  font-size: 5vw;
  line-height: 6vw;
}

.lastachieve {
  font-family: 'Solo1', sans-serif;
  font-size: 10vw;
  line-height: 10vw;
  text-align: center;
}

.covername {
  font-family: 'Solo1', sans-serif;
  font-size: 5vw;
  line-height: 5vw;
  text-align: center;
}

.workscited {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.bookgames {
  color: rgba(155, 0, 255, 1);
}

.emoji {
  font-family: 'Solo1', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 50px rgba(155, 0, 255, 1);
  font-size: 10vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.containeronderkanttypo {
  display: flex;
  justify-content: center;
}

.middentypo {
  font-family: 'Solo2', sans-serif;
  font-size: 2.5vh;
  line-height: 3vh;
  position: absolute;
  top: 26vh;
  text-align: center;
}

.onderkanttypo {
  font-family: 'Solo2', sans-serif;
  font-size: 2.5vh;
  line-height: 3vh;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.italiccovertypo {
  font-family: 'Solo2', sans-serif;
  /* font-size: 2.5vh;
  line-height: 3vh; */
  position: absolute;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.navbar {
  width: 100vw;
  font-size: 12vw;
  position: fixed;
  bottom: 0;
  /* text-align: center; */
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 50px rgba(155, 0, 255, 1);
  /* background-color: rgba(200, 200, 200); */
  display: flex;
  justify-content: space-between;
}

.navbartrailer {
  width: 100vw;
  font-size: 12vw;
  position: fixed;
  bottom: 0;
  text-align: right;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 50px rgba(155, 0, 255, 1);
  /* background-color: rgba(200, 200, 200); */
}

.bodyclicker {
  margin-left: -3%;
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 5px solid red; */
}

.containerbody {
  position: relative;
  top: 33vh;
}

.containercontainer {
  position: absolute;
  width: 100%;
}

.container {
  margin-left: -3%;
  position: relative;
  /* transform: translate(-50%, -50%);
  top: 40%;
  left: 50%; */
}

.glitch {
  font-family: 'Solo1', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 50px rgba(155, 0, 255, 1);
  font-size: 18vw;
  line-height: 16vw;
  padding: 3vw;
  text-align: center;
  animation: glitch 5s 5s infinite;
  overflow-x: hidden;
  letter-spacing: -1vw;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  overflow: hidden;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  overflow-x: hidden;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  overflow: hidden;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  overflow-x: hidden;
}

@keyframes growrotate {
  1% {
    -webkit-transform: scale(0);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: scale(1);
    transform: rotate(360deg);
  }
}

@keyframes grow {
  1% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes rotation {
  1% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }

  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;

  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
  overflow-x: hidden;
}

.scanlines::before {
  overflow-x: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%);
  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  overflow-x: hidden;
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

.subtitle {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: .8vw;
  color: rgba(165, 141, 141, .4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }

  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

.page-title {
  font-family: 'solo';
  text-align: center;
  vertical-align: middle;
  /* padding-left: 200px; */
  padding-top: 60px;
  position: relative;
  width: 1300px;
  font-size: var(--font-size-xl);
  line-height: var(--line-height)*8;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 75px red, 0 0 5px darkblue;
}

.page-body {
  font-family: 'solo';
  text-align: center;
  vertical-align: middle;
  /* padding-left: 200px; */
  padding-top: 60px;
  position: relative;
  width: 1300px;
  font-size: var(--font-size-l);
  line-height: var(--line-height)*8;
}

.Title {
  text-align: center;
  vertical-align: middle;
  /* padding-left: 200px; */
  padding-top: 60px;
  position: relative;
  width: 1300px;
  font-size: var(--font-size-xl);
  line-height: var(--line-height)*8;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 75px red, 0 0 5px darkblue;
}

.mainText {
  position: absolute;
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  padding-top: 150px;
  padding-left: 250px;
  width: 800px;
  text-shadow: 1px 1px 2px white, 0 0 75px darkblue, 0 0 5px red;
}

.image {
  position: absolute;
  z-index: -900;
  display: flex;
}

.newimagecontainer {
  /* border: 1px solid red; */
  position: absolute;
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  text-shadow: 1px 1px 2px white, 0 0 75px darkblue, 0 0 5px red;
  text-align: center width: 1200px;
  margin-left: 40px;
}

.newimagecontainer img {
  width: 400px;
}

/* img {
  width: 750px;
  height: auto;
} */

















.littlefoot-footnote__button {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  background-color: rgba(155, 0, 255, 0.4);
  border-radius: .5em;
  border: 0;
  box-sizing: border-box;
  color: rgba(155, 0, 255, 0.5);
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  height: 1em;
  line-height: 1;
  margin: 0 .1em 0 .2em;
  min-width: 1.5em;
  padding: 0 .5em;
  position: relative;
  text-decoration: none;
  top: -.1em;
  transition-duration: .25s;
  transition-property: background-color color;
  transition-timing-function: ease;
  vertical-align: middle;
  z-index: 5;
}

.littlefoot-footnote__button:hover, .littlefoot-footnote__button:focus {
  background-color: rgba(155, 0, 255, 0.5);
  color: white;
}

.littlefoot-footnote__button:active {
  background-color: rgba(155, 0, 255, 0.5);
  color: white;
}

.littlefoot-footnote__button.is-active {
  background-color: rgba(155, 0, 255, 1);
  color: white;
  transition-delay: .1s;
}

.littlefoot-footnote__button::after {
  clear: both;
  content: '';
  display: table;
}

.littlefoot-footnote__button__ellipsis {
  padding: .35em .5em;
}

.littlefoot-footnote__button__ellipsis svg {
  float: left;
  height: .3em;
}

.littlefoot-footnote__button__number::after {
  color: rgba(155, 0, 255, 0.5);
  content: attr(data-footnote-number);
  display: block;
  font-size: .9em;
  font-weight: bold;
  left: 50%;
  padding: .35em .5em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: .25s;
  transition-property: background-color color;
  transition-timing-function: ease;
  /* height: fit-content; */
}

.littlefoot-footnote__button__number:hover::after, .littlefoot-footnote__button__number.is-active::after {
  color: white;
}

.littlefoot-footnote__button__number svg {
  display: none;
}

.littlefoot-footnote__host {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}

@media print {
  .littlefoot-footnote, .littlefoot-footnote__button {
    display: none !important;
  }
}

.littlefoot-footnote {
  border-radius: .5em;
  border: 1px solid rgba(155, 0, 255, 0.9);
  box-shadow: 0 0 18px rgba(155, 0, 255, 0.7);
  box-sizing: border-box;
  display: inline-block;
  left: 0;
  line-height: 0;
  margin: 2.01924em 0;
  max-width: 100vw;
  opacity: 0;
  position: absolute;
  top: 0;
  transform-origin: 50% 0;
  transform: scale(0.1) translateZ(0);
  transition-duration: .25s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
  z-index: 10;
  /* height: fit-content; */
}

.littlefoot-footnote.is-positioned-top {
  bottom: 0;
  top: auto;
}

.littlefoot-footnote.is-active {
  opacity: .97;
  transform: scale(1) translateZ(0);
}

.littlefoot-footnote.is-scrollable::after {
  content: '';
  position: absolute;
  bottom: .3875em;
  left: .3875em;
  z-index: 14;
  display: block;
  height: .78125em;
  width: .625em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-size: cover;
  opacity: .1;
  transition-property: opacity;
  transition-duration: .25s;
  transition-timing-function: ease;
}

.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::before, .littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::after {
  content: '';
  left: 0;
  position: absolute;
  width: 120%;
  z-index: 12;
}

.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::before {
  background-image: linear-gradient(to bottom, rgba(155, 0, 255, 0.2) 50%, rgba(155, 0, 255, 1) 100%);
  border-radius: .5em .5em 0 0;
  height: .6em;
  top: -1px;
}

.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::after {
  background-image: linear-gradient(to top, rgba(155, 0, 255, 0.2) 50%, rgba(155, 0, 255, 1) 100%);
  border-radius: 0 0 .5em .5em;
  bottom: -1px;
  height: .6em;
}

.littlefoot-footnote.is-scrollable ::-webkit-scrollbar {
  display: none;
}

.littlefoot-footnote.is-fully-scrolled::after, .littlefoot-footnote.is-fully-scrolled::before {
  opacity: 0;
  transition-delay: 0;
}

@media (max-width: 720px) {
  .littlefoot-footnote {
    border-radius: 0;
    border-width: 1px 0 0;
    bottom: 0;
    left: 0 !important;
    margin: 0;
    opacity: 1;
    position: fixed;
    right: auto;
    top: auto;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    max-width: 120% !important;
    width: 100vw;
    /* height: fit-content; */
  }

  .littlefoot-footnote.is-active {
    transform: translateY(0);
  }

  .littlefoot-footnote .littlefoot-footnote__wrapper {
    margin: 0;
    max-width: 120% !important;
    transform: none;
    width: 100vw;
    /* height: fit-content; */
  }

  .littlefoot-footnote .littlefoot-footnote__wrapper, .littlefoot-footnote .littlefoot-footnote__content {
    border-radius: 0;
  }

  .littlefoot-footnote .littlefoot-footnote__tooltip {
    display: none;
  }
}

.littlefoot-footnote__wrapper {
  background-color: rgba(31, 31, 31, 0.1);
  border-radius: .5em;
  box-sizing: inherit;
  display: inline-block;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 14;
  /* height: fit-content; */
}

.littlefoot-footnote__content {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
  background: rgba(31, 31, 31, 0);
  border-radius: .5em;
  box-sizing: inherit;
  display: inline-block;
  line-height: normal;
  font-size: initial;
  font-style: initial;
  font-weight: initial;
  max-height: 60em;
  overflow: auto;
  padding: .6em 1.4em .6em;
  position: relative;
  z-index: 8;
  height: fit-content;
  width: 101vw;
  word-break: break-all;
}

.littlefoot-footnote__content img {
  max-width: 100%;
}

.littlefoot-footnote__content *:first-child {
  margin-top: 0;
}

.littlefoot-footnote__content *:last-child {
  margin-bottom: 0;
}

.is-scrollable .littlefoot-footnote__content {
  padding-bottom: 0;
}

.is-scrollable .littlefoot-footnote__content *:last-child {
  margin-bottom: .6em;
}

.littlefoot-footnote__tooltip {
  background: rgba(155, 0, 255, 1);
  border-top-left-radius: 0;
  border: 1px solid rgba(155, 0, 255, 1);
  box-shadow: 0 0 8px rgba(155, 0, 255, 1, 0.3);
  box-sizing: border-box;
  height: 1.3em;
  margin-left: -0.65em;
  position: absolute;
  transform: rotate(45deg);
  width: 1.3em;
  z-index: 12;
}

.is-positioned-bottom .littlefoot-footnote__tooltip {
  top: -0.65em;
}

.is-positioned-top .littlefoot-footnote__tooltip {
  bottom: -0.65em;
}
